Repository TechEmpower/FrameworkBenchmarks, pull requests merged in 2018-03, with the labels that each got.

#3341 Erlang and Elixir tests for docker
  .travis.yml
  frameworks/Elixir/cowboy/benchmark_config.json
  frameworks/Elixir/cowboy/elixir-cowboy.dockerfile
  frameworks/Elixir/phoenix/benchmark_config.json
  frameworks/Elixir/phoenix/phoenix.dockerfile
  frameworks/Elixir/phoenix/setup.sh
  frameworks/Erlang/chicagoboss/benchmark_config.json
  frameworks/Erlang/chicagoboss/chicagoboss.dockerfile
  frameworks/Erlang/chicagoboss/setup.sh
  frameworks/Erlang/cowboy/Makefile
  frameworks/Erlang/cowboy/benchmark_config.json
  frameworks/Erlang/cowboy/cowboy.dockerfile
  frameworks/Erlang/cowboy/rebar.config
  frameworks/Erlang/cowboy/setup.sh
  frameworks/Erlang/elli/benchmark_config.json
  frameworks/Erlang/elli/elli.dockerfile
  frameworks/Erlang/elli/rebar.config
  frameworks/Erlang/elli/setup.sh
  frameworks/Erlang/mochiweb/benchmark_config.json
  frameworks/Erlang/mochiweb/mochiweb.dockerfile
  frameworks/Erlang/mochiweb/setup.sh
  toolset/setup/linux/docker/languages/elixir.dockerfile
  toolset/setup/linux/docker/languages/erlang.dockerfile
  toolset/setup/linux/languages/elixir.sh
  toolset/setup/linux/languages/erlang.sh
Labels: PR: Docker

#3322 D tests for docker
  .travis.yml
  frameworks/D/collie/.gitignore
  frameworks/D/collie/benchmark_config.json
  frameworks/D/collie/collie-ldc.dockerfile
  frameworks/D/collie/collie.dockerfile
  frameworks/D/collie/setup.sh
  frameworks/D/collie/setup_ldc.sh
  frameworks/D/hunt/benchmark_config.json
  frameworks/D/hunt/hunt.dockerfile
  frameworks/D/hunt/resources/main.html
  frameworks/D/hunt/setup.sh
  frameworks/D/hunt/source/app/.gitkeeper
  frameworks/D/vibed/.gitignore
  frameworks/D/vibed/benchmark_config.json
  frameworks/D/vibed/setup.sh
  frameworks/D/vibed/setup_ldc.sh
  frameworks/D/vibed/setup_ldc_pgsql.sh
  frameworks/D/vibed/setup_pgsql.sh
  frameworks/D/vibed/vibed-dmd-pgsql.dockerfile
  frameworks/D/vibed/vibed-ldc-pgsql.dockerfile
  frameworks/D/vibed/vibed-ldc.dockerfile
  frameworks/D/vibed/vibed.dockerfile
  toolset/setup/linux/docker/languages/d-lang.dockerfile
  toolset/setup/linux/languages/dlang.sh
Labels: PR: Docker

#3347 Lua/lapis for docker
  .travis.yml
  frameworks/Lua/lapis/benchmark_config.json
  frameworks/Lua/lapis/lapis.dockerfile
  frameworks/Lua/lapis/setup.sh
  toolset/setup/linux/docker/languages/lua.dockerfile
  toolset/setup/linux/docker/systools/luarocks.dockerfile
  toolset/setup/linux/docker/webservers/openresty-server.dockerfile
  toolset/setup/linux/languages/lua.sh
  toolset/setup/linux/systools/luarocks.sh
  toolset/setup/linux/webservers/openresty.sh
Labels: PR: Docker

#3351 Dockerize more Java tests
  .travis.yml
  frameworks/Java/activeweb/activeweb-base.dockerfile
  frameworks/Java/activeweb/activeweb-jackson.dockerfile
  frameworks/Java/activeweb/activeweb.dockerfile
  frameworks/Java/activeweb/benchmark_config.json
  frameworks/Java/activeweb/setup.sh
  frameworks/Java/baratine/baratine.dockerfile
  frameworks/Java/baratine/benchmark_config.json
  frameworks/Java/baratine/setup.sh
  frameworks/Java/bayou/bayou.dockerfile
  frameworks/Java/bayou/benchmark_config.json
  frameworks/Java/blade/benchmark_config.json
  frameworks/Java/blade/blade.dockerfile
  frameworks/Java/blade/setup.sh
  frameworks/Java/blade/src/main/java/hello/DbConfig.java
  frameworks/Java/curacao/benchmark_config.json
  frameworks/Java/curacao/curacao.dockerfile
  frameworks/Java/curacao/setup.sh
  frameworks/Java/jawn/benchmark_config.json
  frameworks/Java/jawn/jawn.dockerfile
  frameworks/Java/jawn/setup.sh
  frameworks/Java/jetty/benchmark_config.json
  frameworks/Java/jetty/jetty-servlet.dockerfile
  frameworks/Java/jetty/jetty.dockerfile
  frameworks/Java/jetty/setup.sh
  frameworks/Java/jetty/setup_servlet.sh
  frameworks/Java/jlhttp/benchmark_config.json
  frameworks/Java/jlhttp/jlhttp.dockerfile
  frameworks/Java/jlhttp/setup.sh
  frameworks/Java/jooby/benchmark_config.json
  frameworks/Java/jooby/jooby.dockerfile
  frameworks/Java/jooby/setup.sh
  frameworks/Java/light-java/benchmark_config.json
  frameworks/Java/light-java/dependency-reduced-pom.xml
  frameworks/Java/light-java/docker-compose.yml
  frameworks/Java/light-java/light-4j-postgresql.dockerfile
  frameworks/Java/light-java/light-4j.dockerfile
  frameworks/Java/light-java/setup.sh
  frameworks/Java/light-java/setup_mysql.sh
  frameworks/Java/light-java/setup_postgresql.sh
  frameworks/Java/minijax/benchmark_config.json
  frameworks/Java/minijax/minijax.dockerfile
  frameworks/Java/minijax/minijax.properties
  frameworks/Java/minijax/setup.sh
  frameworks/Java/netty/benchmark_config.json
  frameworks/Java/netty/netty.dockerfile
  frameworks/Java/netty/setup.sh
  frameworks/Java/ninja-standalone/benchmark_config.json
  frameworks/Java/ninja-standalone/ninja-standalone.dockerfile
  frameworks/Java/ninja-standalone/setup.sh
  frameworks/Java/ninja-standalone/src/main/java/conf/application.conf
  frameworks/Java/ninja-standalone/src/main/resources/META-INF/persistence.xml
  frameworks/Java/undertow/undertow-base.dockerfile
  toolset/setup/linux/docker/webservers/resin.dockerfile
Labels: PR: Docker

#3367 Use pug 2.0.0 in express instead of a release candidate version
  frameworks/JavaScript/express/package.json
Labels: PR: Docker

#3370 Port play java tests to docker
  .travis.yml
  frameworks/Java/play1/benchmark_config.json
  frameworks/Java/play1/conf/application.conf
  frameworks/Java/play1/play1.dockerfile
  frameworks/Java/play1/setup.sh
  frameworks/Java/play2-java/benchmark_config.json
  frameworks/Java/play2-java/play2-java-ebean-hikaricp-netty.dockerfile
  frameworks/Java/play2-java/play2-java-ebean-hikaricp.dockerfile
  frameworks/Java/play2-java/play2-java-jooq-hikaricp-netty.dockerfile
  frameworks/Java/play2-java/play2-java-jooq-hikaricp.dockerfile
  frameworks/Java/play2-java/play2-java-jpa-hikaricp-netty.dockerfile
  frameworks/Java/play2-java/play2-java-jpa-hikaricp.dockerfile
  frameworks/Java/play2-java/play2-java-netty.dockerfile
  frameworks/Java/play2-java/play2-java.dockerfile
  frameworks/Java/play2-java/setup_java.sh
  frameworks/Java/play2-java/setup_java_ebean_hikaricp.sh
  frameworks/Java/play2-java/setup_java_ebean_hikaricp_netty.sh
  frameworks/Java/play2-java/setup_java_jooq_hikaricp.sh
  frameworks/Java/play2-java/setup_java_jooq_hikaricp_netty.sh
  frameworks/Java/play2-java/setup_java_jpa_hikaricp.sh
  frameworks/Java/play2-java/setup_java_jpa_hikaricp_netty.sh
  frameworks/Java/play2-java/setup_java_netty.sh
  toolset/setup/linux/docker/systools/sbt-java8.dockerfile
  toolset/setup/linux/docker/systools/sbt.dockerfile
Labels: PR: Docker

#3371 Port aspnetcore tests to docker
  .travis.yml
  frameworks/CSharp/aspnetcore/Benchmarks/appsettings.postgresql.json
  frameworks/CSharp/aspnetcore/aspnetcore-base.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-middleware-dapper.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-middleware-ef.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-middleware-json.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-middleware-raw.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-mvc-dapper.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-mvc-ef.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-mvc-json.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-mvc-raw.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore-mvc.dockerfile
  frameworks/CSharp/aspnetcore/aspnetcore.dockerfile
  frameworks/CSharp/aspnetcore/benchmark_config.json
  frameworks/CSharp/aspnetcore/run-linux.sh
  frameworks/CSharp/aspnetcore/run-windows.ps1
  frameworks/CSharp/aspnetcore/setup-dapper.sh
  frameworks/CSharp/aspnetcore/setup-ef.sh
  frameworks/CSharp/aspnetcore/setup-httpsys.sh
  frameworks/CSharp/aspnetcore/setup-mvc-dapper.sh
  frameworks/CSharp/aspnetcore/setup-mvc-ef.sh
  frameworks/CSharp/aspnetcore/setup-mvc-httpsys.sh
  frameworks/CSharp/aspnetcore/setup-mvc-raw.sh
  frameworks/CSharp/aspnetcore/setup-mvc-windows.sh
  frameworks/CSharp/aspnetcore/setup-raw.sh
  frameworks/CSharp/aspnetcore/setup-windows.sh
Labels: PR: Docker

#3379 Port crystal tests to docker
  .travis.yml
  frameworks/Crystal/amber/amber.dockerfile
  frameworks/Crystal/amber/benchmark_config.json
  frameworks/Crystal/amber/run.sh
  frameworks/Crystal/amber/setup.sh
  frameworks/Crystal/crystal/benchmark_config.json
  frameworks/Crystal/crystal/crystal-radix.dockerfile
  frameworks/Crystal/crystal/crystal.dockerfile
  frameworks/Crystal/crystal/run-radix.sh
  frameworks/Crystal/crystal/run.sh
  frameworks/Crystal/crystal/setup.sh
  frameworks/Crystal/crystal/setup_radix.sh
  frameworks/Crystal/kemal/benchmark_config.json
  frameworks/Crystal/kemal/kemal.dockerfile
  frameworks/Crystal/kemal/run.sh
  frameworks/Crystal/kemal/server-redis.cr
  frameworks/Crystal/kemal/setup-postgres.sh
  frameworks/Crystal/kemal/setup-redis.sh
  toolset/setup/docker/languages/crystal-lang.dockerfile
Labels: PR: Docker

#3380 Misc toolset improvements
  toolset/benchmark/benchmarker.py
  toolset/benchmark/framework_test.py
  toolset/utils/benchmark_config.py
  toolset/utils/docker_helper.py
  toolset/utils/metadata_helper.py
  toolset/utils/results_helper.py
Labels: PR: Docker

#3388 Update to pug 2.0.1 to fix express fortunes test again
  frameworks/JavaScript/express/package.json
Labels: PR: Docker

#3383 Docker c++ wt & treefrog
  .travis.yml
  frameworks/C++/treefrog/benchmark_config.json
  frameworks/C++/treefrog/setup-mongodb.sh
  frameworks/C++/treefrog/setup-postgres.sh
  frameworks/C++/treefrog/setup-thread.sh
  frameworks/C++/treefrog/setup.sh
  frameworks/C++/treefrog/treefrog-base.dockerfile
  frameworks/C++/treefrog/treefrog-hybrid.dockerfile
  frameworks/C++/treefrog/treefrog-mongodb.dockerfile
  frameworks/C++/treefrog/treefrog-postgres.dockerfile
  frameworks/C++/treefrog/treefrog.dockerfile
  frameworks/C++/wt/.gitignore
  frameworks/C++/wt/benchmark_config.json
  frameworks/C++/wt/wt-base.dockerfile
  frameworks/C++/wt/wt-postgres.dockerfile
  frameworks/C++/wt/wt.dockerfile
  toolset/setup/linux/frameworks/treefrog.sh
  toolset/setup/linux/frameworks/wt.sh
Labels: PR: Docker

#3386 Docker cpp silicon
  .travis.yml
  frameworks/C++/silicon/.gitignore
  frameworks/C++/silicon/CMakeLists.txt
  frameworks/C++/silicon/benchmark_config.json
  frameworks/C++/silicon/build/symbols.hh
  frameworks/C++/silicon/build/techempower.hh
  frameworks/C++/silicon/build/techempower_lwan.cc
  frameworks/C++/silicon/build/techempower_microhttpd.cc
  frameworks/C++/silicon/setup_lwan_mysql.sh
  frameworks/C++/silicon/setup_mhd_epoll_mysql.sh
  frameworks/C++/silicon/setup_mhd_tpc_mysql.sh
  frameworks/C++/silicon/silicon-base.dockerfile
  frameworks/C++/silicon/silicon.dockerfile
  toolset/setup/docker/systools/clang-3.9.dockerfile
  toolset/setup/docker/webservers/microhttpd.dockerfile
  toolset/setup/linux/frameworks/silicon.sh
  toolset/setup/linux/systools/clang-3.9.sh
  toolset/setup/linux/webservers/microhttpd.sh
Labels: PR: Docker

#3387 Improve error handling for database:none (as opposed to database:None)
  toolset/benchmark/benchmarker.py
Labels: PR: Docker

#3389 Travis diffing on docker branch
  toolset/setup/docker/languages/d-lang.dockerfile
  toolset/travis/travis_diff.py
Labels: PR: Docker

#3398 Updating library versions
  frameworks/CSharp/aspnetcore/Benchmarks/Benchmarks.csproj
  frameworks/CSharp/aspnetcore/aspnetcore-base.dockerfile
Labels: PR: Docker

#3395 Convert servlet tests to docker
  .travis.yml
  frameworks/Java/servlet/README.md
  frameworks/Java/servlet/benchmark_config.json
  frameworks/Java/servlet/servlet-afterburner.dockerfile
  frameworks/Java/servlet/servlet-cjs.dockerfile
  frameworks/Java/servlet/servlet-mysql.dockerfile
  frameworks/Java/servlet/servlet-postgresql.dockerfile
  frameworks/Java/servlet/servlet.dockerfile
  frameworks/Java/servlet/servlet3-async.sh
  frameworks/Java/servlet/servlet3-sync.sh
  frameworks/Java/servlet/setup.sh
  frameworks/Java/servlet/setup_afterburner.sh
  frameworks/Java/servlet/setup_cjs.sh
  frameworks/Java/servlet/setup_mysql.sh
  frameworks/Java/servlet/setup_postgresql.sh
  frameworks/Java/servlet/source_code
  frameworks/Java/servlet3/README.md
  frameworks/Java/servlet3/benchmark_config.json
  frameworks/Java/servlet3/pom.xml
  frameworks/Java/servlet3/server.xml
  frameworks/Java/servlet3/servlet3-sync.dockerfile
  frameworks/Java/servlet3/servlet3.dockerfile
  frameworks/Java/servlet3/src/main/java/com/gitlab/zloster/tfb/servlet3/HelloMessage.java
  frameworks/Java/servlet3/src/main/java/com/gitlab/zloster/tfb/servlet3/Helper.java
  frameworks/Java/servlet3/src/main/java/com/gitlab/zloster/tfb/servlet3/World.java
  frameworks/Java/servlet3/src/main/java/com/gitlab/zloster/tfb/servlet3/async/JSON.java
  frameworks/Java/servlet3/src/main/java/com/gitlab/zloster/tfb/servlet3/async/Plaintext.java
  frameworks/Java/servlet3/src/main/java/com/gitlab/zloster/tfb/servlet3/sync/JSON.java
  frameworks/Java/servlet3/src/main/java/com/gitlab/zloster/tfb/servlet3/sync/Plaintext.java
  frameworks/Java/servlet3/src/main/resources/logback.xml
  frameworks/Java/servlet3/src/main/webapp/jsp/error.jsp
  toolset/setup/docker/webservers/tomcat.dockerfile
Labels: PR: Docker

#3394 Docker c++ poco
  .travis.yml
  frameworks/C++/poco/benchmark_config.json
  frameworks/C++/poco/poco.dockerfile
  frameworks/C++/poco/setup.sh
  toolset/setup/docker/systools/gcc-4.8.dockerfile
  toolset/setup/linux/frameworks/poco.sh
Labels: PR: Docker

#3407 Remove postgres startup workaround in undertow, update dependencies
  frameworks/Java/undertow/pom.xml
  frameworks/Java/undertow/src/main/java/hello/HelloWebServer.java
Labels: PR: Docker

#3410 Docker 8 more python frameworks
  .travis.yml
  frameworks/Python/japronto/benchmark_config.json
  frameworks/Python/japronto/japronto.dockerfile
  frameworks/Python/japronto/setup.sh
  frameworks/Python/klein/benchmark_config.json
  frameworks/Python/klein/klein.dockerfile
  frameworks/Python/klein/setup.sh
  frameworks/Python/morepath/.gitignore
  frameworks/Python/morepath/benchmark_config.json
  frameworks/Python/morepath/morepath.dockerfile
  frameworks/Python/morepath/setup.sh
  frameworks/Python/pyramid/.gitignore
  frameworks/Python/pyramid/benchmark_config.json
  frameworks/Python/pyramid/pyramid-py2.dockerfile
  frameworks/Python/pyramid/pyramid.dockerfile
  frameworks/Python/pyramid/setup_py2.sh
  frameworks/Python/pyramid/setup_py3.sh
  frameworks/Python/sanic/benchmark_config.json
  frameworks/Python/sanic/sanic.dockerfile
  frameworks/Python/sanic/setup.sh
  frameworks/Python/tornado/benchmark_config.json
  frameworks/Python/tornado/setup_pg.sh
  frameworks/Python/tornado/setup_py2.sh
  frameworks/Python/tornado/setup_py3.sh
  frameworks/Python/tornado/setup_pypy2.sh
  frameworks/Python/tornado/tornado-postgresql-raw.dockerfile
  frameworks/Python/tornado/tornado-py3.dockerfile
  frameworks/Python/tornado/tornado-pypy2.dockerfile
  frameworks/Python/tornado/tornado.dockerfile
  frameworks/Python/turbogears/benchmark_config.json
  frameworks/Python/turbogears/setup.sh
  frameworks/Python/turbogears/turbogears.dockerfile
  frameworks/Python/uvicorn/benchmark_config.json
  frameworks/Python/uvicorn/setup.sh
  frameworks/Python/uvicorn/uvicorn.dockerfile
Labels: PR: Docker

#3396 Fix actix build hanging in docker
  frameworks/Rust/actix/TODO.md
  frameworks/Rust/actix/actix-base.dockerfile
  frameworks/Rust/actix/src/db.rs
  frameworks/Rust/actix/src/main.rs
  frameworks/Rust/actix/src/pg.rs
Labels: PR: Do Not Merge, PR: Docker

#3414 use lower case table names
  .travis.yml
  frameworks/Rust/actix/src/db.rs
  frameworks/Rust/actix/src/main.rs
  frameworks/Rust/actix/src/pg.rs
  frameworks/Rust/actix/src/schema.rs
Labels: PR: Docker

#3413 Fixed a bug on multi-env
  toolset/benchmark/benchmarker.py
  toolset/run-tests.py
  toolset/setup/docker/base.dockerfile
  toolset/setup/linux/prerequisites.sh
  toolset/utils/benchmark_config.py
  toolset/utils/docker_helper.py
Labels: PR: Docker

#3415 Docker Remaining Python Tests
  .travis.yml
  frameworks/Python/.gitignore
  frameworks/Python/uwsgi/benchmark_config.json
  frameworks/Python/uwsgi/setup.sh
  frameworks/Python/uwsgi/setup_nginx.sh
  frameworks/Python/uwsgi/uwsgi-nginx-uwsgi.dockerfile
  frameworks/Python/uwsgi/uwsgi.dockerfile
  frameworks/Python/web2py/.gitignore
  frameworks/Python/web2py/benchmark_config.json
  frameworks/Python/web2py/setup.sh
  frameworks/Python/web2py/web2py-base.dockerfile
  frameworks/Python/web2py/web2py-optimized.dockerfile
  frameworks/Python/web2py/web2py.dockerfile
  frameworks/Python/webware/.gitignore
  frameworks/Python/webware/benchmark_config.json
  frameworks/Python/webware/setup.sh
  frameworks/Python/webware/webware.dockerfile
  frameworks/Python/weppy/benchmark_config.json
  frameworks/Python/weppy/setup_nginxuwsgi.sh
  frameworks/Python/weppy/setup_py2.sh
  frameworks/Python/weppy/setup_py3.sh
  frameworks/Python/weppy/setup_pypy2.sh
  frameworks/Python/weppy/weppy-nginx-uwsgi.dockerfile
  frameworks/Python/weppy/weppy-py3.dockerfile
  frameworks/Python/weppy/weppy-pypy2.dockerfile
  frameworks/Python/weppy/weppy.dockerfile
  frameworks/Python/wheezyweb/benchmark_config.json
  frameworks/Python/wheezyweb/setup.sh
  frameworks/Python/wheezyweb/setup_py3.sh
  frameworks/Python/wheezyweb/wheezyweb-py3.dockerfile
  frameworks/Python/wheezyweb/wheezyweb.dockerfile
  frameworks/Python/wsgi/benchmark_config.json
  frameworks/Python/wsgi/setup.sh
  frameworks/Python/wsgi/wsgi.dockerfile
Labels: PR: Docker

#3405 [ci fw-only Java/act] Docker act 1.8.1
  frameworks/Java/act/act-base.dockerfile
  frameworks/Java/act/act-ebean-mysql-rythm.dockerfile
  frameworks/Java/act/act-ebean-mysql.dockerfile
  frameworks/Java/act/act-ebean-pgsql-rythm.dockerfile
  frameworks/Java/act/act-ebean-pgsql.dockerfile
  frameworks/Java/act/act-eclipselink-mysql-rythm.dockerfile
  frameworks/Java/act/act-eclipselink-mysql.dockerfile
  frameworks/Java/act/act-eclipselink-pgsql-rythm.dockerfile
  frameworks/Java/act/act-eclipselink-pgsql.dockerfile
  frameworks/Java/act/act-hibernate-mysql-rythm.dockerfile
  frameworks/Java/act/act-hibernate-mysql.dockerfile
  frameworks/Java/act/act-hibernate-pgsql-rythm.dockerfile
  frameworks/Java/act/act-hibernate-pgsql.dockerfile
  frameworks/Java/act/act-morphia-mongo-rythm.dockerfile
  frameworks/Java/act/act-morphia-mongo.dockerfile
  frameworks/Java/act/act.dockerfile
  frameworks/Java/act/benchmark_config.json
  frameworks/Java/act/pom.xml
  frameworks/Rust/may-minihttp/benchmark_config.json
Labels: PR: Docker

#3420 Prevent fortunes output being accumulated across tests by the verifier
  toolset/benchmark/fortune_html_parser.py
Labels: PR: Docker

#3421 use latest aiohttp release
  frameworks/Python/aiohttp/requirements.txt
Labels: PR: Docker

#3418 update actix to latest stable release
  frameworks/Rust/actix/Cargo.lock
  frameworks/Rust/actix/Cargo.toml
Labels: PR: Docker

#3425 Docker postgres fix
  toolset/setup/docker/databases/postgres/create-postgres.sql
  toolset/setup/docker/databases/postgres/postgres.dockerfile
Labels: PR: Docker

#3416 [WIP] Centralize logging
  toolset/benchmark/benchmarker.py
  toolset/benchmark/fortune_html_parser.py
  toolset/benchmark/framework_test.py
  toolset/benchmark/test_types/fortune_type.py
  toolset/benchmark/test_types/framework_test_type.py
  toolset/benchmark/test_types/verifications.py
  toolset/continuous/tasks/run-benchmarks.sh
  toolset/continuous/tasks/run-tasks.sh
  toolset/run-tests.py
  toolset/setup/linux/prerequisites.sh
  toolset/utils/benchmark_config.py
  toolset/utils/docker_helper.py
  toolset/utils/initializer.py
  toolset/utils/metadata_helper.py
  toolset/utils/output_helper.py
  toolset/utils/results_helper.py
  toolset/utils/scaffolding.py
  toolset/utils/setup_util.py
Labels: PR: Docker, PR: Work in Progress

#3428 add Gotham web framework for Rust
  .travis.yml
  frameworks/Rust/gotham/Cargo.toml
  frameworks/Rust/gotham/benchmark_config.json
  frameworks/Rust/gotham/gotham.dockerfile
  frameworks/Rust/gotham/src/main.rs
Labels: PR: Docker

#3429 Port Swift/vapor tests to docker
  .travis.yml
  frameworks/Swift/vapor/benchmark_config.json
  frameworks/Swift/vapor/setup-mongodb.sh
  frameworks/Swift/vapor/setup-mysql.sh
  frameworks/Swift/vapor/setup-postgresql.sh
  frameworks/Swift/vapor/vapor-base.dockerfile
  frameworks/Swift/vapor/vapor-mongodb.dockerfile
  frameworks/Swift/vapor/vapor-postgresql.dockerfile
  frameworks/Swift/vapor/vapor.dockerfile
  toolset/setup/docker/languages/swift.dockerfile
Labels: PR: Docker

#3431 Bump Finagle benchmarks
  frameworks/Scala/finagle/build.sbt
  frameworks/Scala/finagle/finagle.dockerfile
  frameworks/Scala/finagle/src/main/scala/Main.scala
  frameworks/Scala/finatra/build.sbt
  frameworks/Scala/finatra/finatra.dockerfile
  frameworks/Scala/finatra/src/main/scala/Main.scala
  frameworks/Scala/finch/build.sbt
  frameworks/Scala/finch/finch.dockerfile
  frameworks/Scala/finch/src/main/scala/Main.scala
Labels: PR: Docker

#3434 Avoid "installing" resin, use the resin home directory directly
  frameworks/Clojure/compojure/compojure-base.dockerfile
  frameworks/Clojure/compojure/compojure-raw.dockerfile
  frameworks/Clojure/compojure/compojure.dockerfile
  frameworks/Groovy/grails/grails.dockerfile
  frameworks/Java/activeweb/activeweb-base.dockerfile
  frameworks/Java/activeweb/activeweb-jackson.dockerfile
  frameworks/Java/activeweb/activeweb.dockerfile
  frameworks/Java/curacao/curacao.dockerfile
  frameworks/Java/gemini/Docroot/WEB-INF/resin.xml
  frameworks/Java/gemini/gemini-mysql.dockerfile
  frameworks/Java/gemini/gemini-postgres.dockerfile
  frameworks/Java/gemini/gemini.dockerfile
  frameworks/Java/revenj-jvm/revenj-jvm.dockerfile
  frameworks/Java/servlet/servlet-afterburner.dockerfile
  frameworks/Java/servlet/servlet-cjs.dockerfile
  frameworks/Java/servlet/servlet-mysql.dockerfile
  frameworks/Java/servlet/servlet-postgresql.dockerfile
  frameworks/Java/servlet/servlet.dockerfile
  frameworks/Java/spark/spark.dockerfile
  frameworks/Java/tapestry/tapestry.dockerfile
  frameworks/Java/wicket/wicket.dockerfile
  toolset/setup/docker/webservers/resin-java8.dockerfile
  toolset/setup/docker/webservers/resin.dockerfile
Labels: PR: Docker

#3432 Docker logging multiple build lines
  toolset/benchmark/benchmarker.py
  toolset/benchmark/fortune_html_parser.py
  toolset/benchmark/framework_test.py
  toolset/benchmark/test_types/framework_test_type.py
  toolset/benchmark/test_types/verifications.py
  toolset/run-tests.py
  toolset/utils/docker_helper.py
  toolset/utils/output_helper.py
  toolset/utils/results_helper.py
Labels: PR: Docker

#3437 add missing import from colorama
  toolset/run-tests.py
Labels: PR: Docker

#3426 Docker Perl tests
  .travis.yml
  frameworks/Perl/dancer/.gitignore
  frameworks/Perl/dancer/benchmark_config.json
  frameworks/Perl/dancer/dancer.dockerfile
  frameworks/Perl/dancer/nginx.conf
  frameworks/Perl/dancer/setup-mysql.sh
  frameworks/Perl/dancer/setup.sh
  frameworks/Perl/kelp/app.pl
  frameworks/Perl/kelp/benchmark_config.json
  frameworks/Perl/kelp/kelp-base.dockerfile
  frameworks/Perl/kelp/kelp-mongodb.dockerfile
  frameworks/Perl/kelp/kelp.dockerfile
  frameworks/Perl/kelp/nginx.conf
  frameworks/Perl/kelp/setup.sh
  frameworks/Perl/mojolicious/.gitignore
  frameworks/Perl/mojolicious/mojolicious.dockerfile
  frameworks/Perl/mojolicious/setup.sh
  frameworks/Perl/plack/app.psgi
  frameworks/Perl/plack/benchmark_config.json
  frameworks/Perl/plack/nginx.conf
  frameworks/Perl/plack/plack.dockerfile
  frameworks/Perl/plack/setup.sh
  frameworks/Perl/web-simple/benchmark_config.json
  frameworks/Perl/web-simple/nginx.conf
  frameworks/Perl/web-simple/setup-mysql.sh
  frameworks/Perl/web-simple/setup.sh
  frameworks/Perl/web-simple/web-simple.dockerfile
  toolset/setup/docker/languages/perl.dockerfile
  toolset/setup/linux/languages/perl.sh
Labels: PR: Docker

#3436 Docker lua
  .travis.yml
  frameworks/C++/poco/poco.dockerfile
  frameworks/C++/treefrog/treefrog-base.dockerfile
  frameworks/C++/wt/wt-base.dockerfile
  frameworks/C/h2o/h2o.dockerfile
  frameworks/C/libreactor/libreactor.dockerfile
  frameworks/JavaScript/nodejs/mitol.dockerfile
  frameworks/JavaScript/ringojs/ringo-base.dockerfile
  frameworks/Lua/lapis/.gitignore
  frameworks/Lua/octopus/.gitignore
  frameworks/Lua/octopus/benchmark_config.json
  frameworks/Lua/octopus/octopus.dockerfile
  frameworks/Lua/octopus/setup.sh
  frameworks/Lua/openresty/benchmark_config.json
  frameworks/Lua/openresty/nginx.conf
  frameworks/Lua/openresty/openresty.dockerfile
  frameworks/Lua/openresty/setup.sh
  frameworks/Python/webware/webware.dockerfile
  frameworks/Ur/urweb/urweb-base.dockerfile
  toolset/setup/docker/languages/d-lang.dockerfile
  toolset/setup/docker/languages/lua.dockerfile
  toolset/setup/docker/languages/nim.dockerfile
  toolset/setup/docker/languages/pypy2.dockerfile
  toolset/setup/docker/languages/python2.dockerfile
  toolset/setup/docker/languages/python3.dockerfile
  toolset/setup/docker/languages/rust.dockerfile
  toolset/setup/docker/systools/luarocks.dockerfile
  toolset/setup/docker/systools/nimble.dockerfile
  toolset/setup/docker/webservers/microhttpd.dockerfile
  toolset/setup/docker/webservers/nginx.dockerfile
  toolset/setup/docker/webservers/openresty-server.dockerfile
Labels: PR: Docker

#3439 Use Jdbc3ConnectionPool from PostgreJDBC (for docker branch)
  frameworks/Java/servlet/src/main/resources/WEB-INF/postgresql/resin-web.xml
Labels: PR: Docker

#3438 Convert vala tests to docker
  .travis.yml
  frameworks/Vala/valum/app.vala
  frameworks/Vala/valum/benchmark_config.json
  frameworks/Vala/valum/run.sh
  frameworks/Vala/valum/setup.sh
  frameworks/Vala/valum/valum.dockerfile
  frameworks/Vala/vsgi/app.vala
  frameworks/Vala/vsgi/benchmark_config.json
  frameworks/Vala/vsgi/run.sh
  frameworks/Vala/vsgi/setup.sh
  frameworks/Vala/vsgi/vsgi.dockerfile
  toolset/setup/docker/languages/vala.dockerfile
Labels: PR: Docker

#3441 python/uwsgi fix
  frameworks/Python/uwsgi/uwsgi.dockerfile
Labels: PR: Docker

#3440 Set ASP.NET Core config webserver values
  frameworks/CSharp/aspnetcore/benchmark_config.json
Labels: PR: Docker

#3450 actix: various db optimizations
  frameworks/Rust/actix/Cargo.lock
  frameworks/Rust/actix/Cargo.toml
  frameworks/Rust/actix/src/db.rs
  frameworks/Rust/actix/src/main.rs
  frameworks/Rust/actix/src/pg.rs
  frameworks/Rust/actix/src/simple.rs
  frameworks/Rust/actix/src/utils.rs
Labels: PR: Docker

#3449 hyper: upgrade to new tokio runtime
  frameworks/Rust/hyper/Cargo.toml
  frameworks/Rust/hyper/benchmark_config.json
  frameworks/Rust/hyper/hyper-base.dockerfile
  frameworks/Rust/hyper/hyper-pipeline.dockerfile
  frameworks/Rust/hyper/hyper.dockerfile
  frameworks/Rust/hyper/src/main.rs
Labels: PR: Docker

#3451 Port a few PHP tests to docker
  .travis.yml
  frameworks/PHP/cakephp/.gitignore
  frameworks/PHP/cakephp/app/Config/database.php
  frameworks/PHP/cakephp/benchmark_config.json
  frameworks/PHP/cakephp/cakephp.dockerfile
  frameworks/PHP/cakephp/deploy/nginx.conf
  frameworks/PHP/cakephp/setup.sh
  frameworks/PHP/cakephp/setup_php5.sh
  frameworks/PHP/clancats/app/config/database.config.php
  frameworks/PHP/clancats/benchmark_config.json
  frameworks/PHP/clancats/clancats.dockerfile
  frameworks/PHP/clancats/deploy/nginx.conf
  frameworks/PHP/clancats/setup.sh
  frameworks/PHP/zend/.gitignore
  frameworks/PHP/zend/benchmark_config.json
  frameworks/PHP/zend/config/autoload/.gitkeep
  frameworks/PHP/zend/config/autoload/benchmarks.local.php
  frameworks/PHP/zend/deploy/nginx.conf
  frameworks/PHP/zend/setup.sh
  frameworks/PHP/zend/zend.dockerfile
  frameworks/PHP/zend1/.gitignore
  frameworks/PHP/zend1/application/configs/application.ini
  frameworks/PHP/zend1/benchmark_config.json
  frameworks/PHP/zend1/deploy/nginx.conf
  frameworks/PHP/zend1/setup.sh
  frameworks/PHP/zend1/zend1.dockerfile
  toolset/setup/docker/languages/php5.dockerfile
  toolset/setup/docker/languages/php7.dockerfile
Labels: PR: Docker

#3447 H2O: Adjust the number of database connections
  frameworks/C/h2o/start-servers.sh
Labels: PR: Docker

#3453 Fix FrameworkTest.is_running URL format to remove extra slash in path
  toolset/benchmark/framework_test.py
Labels: PR: Docker

#3454 PHP/cygnite + php5.6-mcrypt
  .travis.yml
  frameworks/PHP/cakephp/README-cake.md
  frameworks/PHP/cakephp/README.md
  frameworks/PHP/cygnite/apps/configs/database.php
  frameworks/PHP/cygnite/benchmark_config.json
  frameworks/PHP/cygnite/cygnite-base.dockerfile
  frameworks/PHP/cygnite/cygnite-raw.dockerfile
  frameworks/PHP/cygnite/cygnite.dockerfile
  frameworks/PHP/cygnite/deploy/nginx.conf
  frameworks/PHP/cygnite/setup-mysql.sh
  frameworks/PHP/cygnite/setup.sh
  toolset/setup/docker/languages/php5.dockerfile
Labels: PR: Docker

#3456 Try to get more useful info from travis about cakephp failures
  frameworks/PHP/cakephp/app/tmp/cache/models/.gitkeep
  frameworks/PHP/cakephp/app/tmp/cache/persistent/.gitkeep
  frameworks/PHP/cakephp/cakephp.dockerfile
Labels: PR: Docker

#3445 Cutelyst 2 on docker
  .travis.yml
  frameworks/C++/cutelyst/CMakeLists.txt
  frameworks/C++/cutelyst/benchmark_config.json
  frameworks/C++/cutelyst/config.sh
  frameworks/C++/cutelyst/cutelyst-benchmark-app.dockerfile
  frameworks/C++/cutelyst/cutelyst-deps.dockerfile
  frameworks/C++/cutelyst/cutelyst-framework.dockerfile
  frameworks/C++/cutelyst/cutelyst-nginx-base.dockerfile
  frameworks/C++/cutelyst/cutelyst-nginx-my.dockerfile
  frameworks/C++/cutelyst/cutelyst-nginx-pg.dockerfile
  frameworks/C++/cutelyst/cutelyst-nginx.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-my-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-my.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-pg-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-pg.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-my-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-my.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-pg-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-pg.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread.dockerfile
  frameworks/C++/cutelyst/cutelyst.dockerfile
  frameworks/C++/cutelyst/setup_pf.sh
  frameworks/C++/cutelyst/setup_pf_epoll.sh
  frameworks/C++/cutelyst/setup_pf_my.sh
  frameworks/C++/cutelyst/setup_pf_my_epoll.sh
  frameworks/C++/cutelyst/setup_pf_pg.sh
  frameworks/C++/cutelyst/setup_pf_pg_epoll.sh
  frameworks/C++/cutelyst/setup_thread.sh
  frameworks/C++/cutelyst/setup_thread_epoll.sh
  frameworks/C++/cutelyst/setup_thread_epoll_half.sh
  frameworks/C++/cutelyst/setup_thread_my.sh
  frameworks/C++/cutelyst/setup_thread_my_epoll.sh
  frameworks/C++/cutelyst/setup_thread_pg.sh
  frameworks/C++/cutelyst/setup_thread_pg_epoll.sh
  frameworks/C++/cutelyst/setup_thread_pg_epoll_half.sh
  frameworks/C++/cutelyst/setup_uwsgi_nginx.sh
  frameworks/C++/cutelyst/setup_uwsgi_nginx_my.sh
  frameworks/C++/cutelyst/setup_uwsgi_nginx_pg.sh
  frameworks/C++/cutelyst/source_code
  frameworks/C++/cutelyst/src/CMakeLists.txt
  toolset/setup/linux/frameworks/cutelyst.sh
Labels: PR: Docker, PR: Work in Progress

#3455 hyper: revert tokio upgrade (while bugs are addressed)
  frameworks/Rust/hyper/Cargo.toml
  frameworks/Rust/hyper/src/main.rs
Labels: PR: Docker

#3458 Port hhvm tests to docker
  .travis.yml
  frameworks/PHP/codeigniter/.gitignore
  frameworks/PHP/codeigniter/application/views/errors/html/error_404.php
  frameworks/PHP/codeigniter/application/views/errors/html/error_db.php
  frameworks/PHP/codeigniter/application/views/errors/html/error_general.php
  frameworks/PHP/codeigniter/application/views/errors/html/error_php.php
  frameworks/PHP/codeigniter/application/views/errors/html/index.html
  frameworks/PHP/codeigniter/benchmark_config.json
  frameworks/PHP/codeigniter/codeigniter-hhvm.dockerfile
  frameworks/PHP/codeigniter/codeigniter.dockerfile
  frameworks/PHP/codeigniter/deploy/config.hdf
  frameworks/PHP/codeigniter/deploy/nginx-fpm.conf
  frameworks/PHP/codeigniter/deploy/nginx-hhvm.conf
  frameworks/PHP/codeigniter/deploy/nginx.conf
  frameworks/PHP/codeigniter/deploy/php-codeigniter
  frameworks/PHP/codeigniter/setup.sh
  frameworks/PHP/codeigniter/setup_hhvm.sh
  frameworks/PHP/hhvm/.gitignore
  frameworks/PHP/hhvm/benchmark_config.json
  frameworks/PHP/hhvm/deploy/config-debug.hdf
  frameworks/PHP/hhvm/deploy/config.hdf
  frameworks/PHP/hhvm/deploy/nginx.conf
  frameworks/PHP/hhvm/hhvm.dockerfile
  frameworks/PHP/hhvm/setup_hhvm.sh
  frameworks/PHP/slim/.gitignore
  frameworks/PHP/slim/benchmark_config.json
  frameworks/PHP/slim/deploy/config.hdf
  frameworks/PHP/slim/deploy/nginx-fpm-5.conf
  frameworks/PHP/slim/deploy/nginx-fpm-7.conf
  frameworks/PHP/slim/deploy/nginx-hhvm.conf
  frameworks/PHP/slim/deploy/nginx.conf
  frameworks/PHP/slim/deploy/php-slim
  frameworks/PHP/slim/index.php
  frameworks/PHP/slim/setup.sh
  frameworks/PHP/slim/setup_hhvm.sh
  frameworks/PHP/slim/setup_php5.sh
  frameworks/PHP/slim/slim-hhvm.dockerfile
  frameworks/PHP/slim/slim-php5.dockerfile
  frameworks/PHP/slim/slim.dockerfile
  frameworks/PHP/yii2/.gitignore
  frameworks/PHP/yii2/benchmark_config.json
  frameworks/PHP/yii2/deploy/config.hdf
  frameworks/PHP/yii2/deploy/nginx-fpm.conf
  frameworks/PHP/yii2/deploy/nginx-hhvm.conf
  frameworks/PHP/yii2/deploy/nginx.conf
  frameworks/PHP/yii2/setup.sh
  frameworks/PHP/yii2/setup_hhvm.sh
  frameworks/PHP/yii2/yii2-hhvm.dockerfile
  frameworks/PHP/yii2/yii2.dockerfile
  toolset/setup/docker/languages/hhvm-php5.dockerfile
  toolset/setup/docker/languages/hhvm-php7.dockerfile
Labels: PR: Docker

#3433 Refactor koa
  frameworks/JavaScript/koa/.gitignore
  frameworks/JavaScript/koa/app.js
  frameworks/JavaScript/koa/benchmark_config.json
  frameworks/JavaScript/koa/create-server.js
  frameworks/JavaScript/koa/handlers/handler.js
  frameworks/JavaScript/koa/handlers/mongoose.js
  frameworks/JavaScript/koa/handlers/sequelize-postgres.js
  frameworks/JavaScript/koa/handlers/sequelize.js
  frameworks/JavaScript/koa/helper.js
  frameworks/JavaScript/koa/models/mongoose.js
  frameworks/JavaScript/koa/models/sequelize-postgres.js
  frameworks/JavaScript/koa/models/sequelize.js
  frameworks/JavaScript/koa/package.json
Labels: PR: Docker

#3469 Docker port for C++/cpoll_cppsp
  .travis.yml
  frameworks/C++/cpoll_cppsp/.gitignore
  frameworks/C++/cpoll_cppsp/Makefile
  frameworks/C++/cpoll_cppsp/benchmark_config.json
  frameworks/C++/cpoll_cppsp/cpoll_cppsp-base.dockerfile
  frameworks/C++/cpoll_cppsp/cpoll_cppsp-postgres-raw-threadpool.dockerfile
  frameworks/C++/cpoll_cppsp/cpoll_cppsp-postgres-raw.dockerfile
  frameworks/C++/cpoll_cppsp/cpoll_cppsp-raw.dockerfile
  frameworks/C++/cpoll_cppsp/cpoll_cppsp.dockerfile
  frameworks/C++/cpoll_cppsp/setup.sh
  frameworks/C++/cpoll_cppsp/setup_mysql.sh
  frameworks/C++/cpoll_cppsp/setup_postgresql.sh
  toolset/setup/linux/frameworks/cppsp.sh
Labels: PR: Docker

#3468 C++/luna docker port
  .travis.yml
  frameworks/C++/luna/.gitignore
  frameworks/C++/luna/benchmark_config.json
  frameworks/C++/luna/luna-base.dockerfile
  frameworks/C++/luna/luna-epoll.dockerfile
  frameworks/C++/luna/luna-thread.dockerfile
  frameworks/C++/luna/luna.dockerfile
  frameworks/C++/luna/setup.sh
  frameworks/C++/luna/setup_epoll.sh
  frameworks/C++/luna/setup_thread.sh
  toolset/setup/docker/systools/gcc-4.9.dockerfile
  toolset/setup/linux/systools/conan.sh
  toolset/setup/linux/systools/gcc-4.9.sh
Labels: PR: Docker

#3472 Docker C++/ulib port
  .travis.yml
  frameworks/C++/ulib/benchmark_config.json
  frameworks/C++/ulib/setup_elasticsearch.sh
  frameworks/C++/ulib/setup_json.sh
  frameworks/C++/ulib/setup_json_extra.sh
  frameworks/C++/ulib/setup_json_fit.sh
  frameworks/C++/ulib/setup_json_large.sh
  frameworks/C++/ulib/setup_json_medium.sh
  frameworks/C++/ulib/setup_mongodb.sh
  frameworks/C++/ulib/setup_mysql.sh
  frameworks/C++/ulib/setup_plaintext.sh
  frameworks/C++/ulib/setup_plaintext_fit.sh
  frameworks/C++/ulib/setup_postgres.sh
  frameworks/C++/ulib/setup_postgres_fit.sh
  frameworks/C++/ulib/setup_redis.sh
  frameworks/C++/ulib/setup_sqlite.sh
  frameworks/C++/ulib/ulib-base.dockerfile
  frameworks/C++/ulib/ulib-json.dockerfile
  frameworks/C++/ulib/ulib-json_fit.dockerfile
  frameworks/C++/ulib/ulib-mongodb.dockerfile
  frameworks/C++/ulib/ulib-mysql.dockerfile
  frameworks/C++/ulib/ulib-plaintext_fit.dockerfile
  frameworks/C++/ulib/ulib-postgres.dockerfile
  frameworks/C++/ulib/ulib-postgres_fit.dockerfile
  frameworks/C++/ulib/ulib.dockerfile
  toolset/setup/linux/frameworks/ulib.sh
Labels: PR: Docker

#3474 remove $CPU_COUNT
  frameworks/C++/cutelyst/cutelyst-benchmark-app.dockerfile
  frameworks/C++/cutelyst/cutelyst-framework.dockerfile
  frameworks/C++/cutelyst/cutelyst-nginx-my.dockerfile
  frameworks/C++/cutelyst/cutelyst-nginx-pg.dockerfile
  frameworks/C++/cutelyst/cutelyst-nginx.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-my-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-my.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-pg-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-pf-pg.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-my-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-my.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-pg-nodelay.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread-pg.dockerfile
  frameworks/C++/cutelyst/cutelyst-thread.dockerfile
  frameworks/C++/cutelyst/cutelyst.dockerfile
  frameworks/C++/luna/luna-epoll.dockerfile
  frameworks/C++/luna/luna.dockerfile
  frameworks/C++/poco/poco.dockerfile
  frameworks/C++/silicon/silicon.dockerfile
  frameworks/C++/wt/wt-postgres.dockerfile
  frameworks/C++/wt/wt.dockerfile
  frameworks/CSharp/aspnet/run.sh
  frameworks/CSharp/evhttp-sharp/evhttp-sharp.dockerfile
  frameworks/CSharp/nancy/run.sh
  frameworks/CSharp/servicestack/run.sh
  frameworks/Dart/dart/dart.dockerfile
  frameworks/Dart/redstone/redstone-mongodb.dockerfile
  frameworks/Dart/redstone/redstone.dockerfile
  frameworks/Dart/start/nginx-conf.sh
  frameworks/Dart/start/start-servers.sh
  frameworks/Dart/start/start.dockerfile
  frameworks/Dart/stream/nginx-conf.sh
  frameworks/Dart/stream/start-servers.sh
  frameworks/Dart/stream/stream.dockerfile
  frameworks/Haskell/servant/servant.dockerfile
  frameworks/Haskell/spock/spock.dockerfile
  frameworks/Haskell/wai/wai.dockerfile
  frameworks/Haskell/yesod/yesod-mongodb-raw.dockerfile
  frameworks/Haskell/yesod/yesod-postgres.dockerfile
  frameworks/Haskell/yesod/yesod.dockerfile
  frameworks/Lua/openresty/openresty.dockerfile
  frameworks/Perl/dancer/dancer.dockerfile
  frameworks/Perl/kelp/kelp-mongodb.dockerfile
  frameworks/Perl/kelp/kelp.dockerfile
  frameworks/Perl/plack/plack.dockerfile
  frameworks/Perl/web-simple/web-simple.dockerfile
  frameworks/Python/bottle/bottle-nginx-uwsgi.dockerfile
  frameworks/Python/flask/flask-nginx-uwsgi.dockerfile
  frameworks/Python/uwsgi/uwsgi-nginx-uwsgi.dockerfile
  frameworks/Python/uwsgi/uwsgi.dockerfile
  frameworks/Python/weppy/weppy-nginx-uwsgi.dockerfile
  frameworks/Ur/urweb/urweb-mysql.dockerfile
  frameworks/Ur/urweb/urweb.dockerfile
  toolset/run-tests.py
  toolset/setup/docker/base.dockerfile
  toolset/utils/docker_helper.py
Labels: PR: Docker

#3476 Remove gradle wrappers, have gradle dockerfiles instead
  frameworks/Java/comsat/comsat-base.dockerfile
  frameworks/Java/comsat/gradle/wrapper/gradle-wrapper.jar
  frameworks/Java/comsat/gradle/wrapper/gradle-wrapper.properties
  frameworks/Java/comsat/gradlew
  frameworks/Java/comsat/gradlew.bat
  frameworks/Java/jawn/README.md
  frameworks/Java/jawn/gradle/wrapper/gradle-wrapper.jar
  frameworks/Java/jawn/gradle/wrapper/gradle-wrapper.properties
  frameworks/Java/jawn/gradlew
  frameworks/Java/jawn/gradlew.bat
  frameworks/Java/jawn/jawn.dockerfile
  frameworks/Kotlin/hexagon/gradle/wrapper/gradle-wrapper.jar
  frameworks/Kotlin/hexagon/gradle/wrapper/gradle-wrapper.properties
  frameworks/Kotlin/hexagon/gradlew
  frameworks/Kotlin/hexagon/gradlew.bat
  frameworks/Kotlin/hexagon/hexagon-jetty-postgresql.dockerfile
  frameworks/Kotlin/hexagon/hexagon-undertow-mongodb.dockerfile
  frameworks/Kotlin/hexagon/hexagon-undertow-postgresql.dockerfile
  frameworks/Kotlin/hexagon/hexagon.dockerfile
  frameworks/Kotlin/http4k/README.md
  frameworks/Kotlin/http4k/gradle/wrapper/gradle-wrapper.jar
  frameworks/Kotlin/http4k/gradle/wrapper/gradle-wrapper.properties
  frameworks/Kotlin/http4k/gradlew
  frameworks/Kotlin/http4k/gradlew.bat
  frameworks/Kotlin/http4k/http4k-apache.dockerfile
  frameworks/Kotlin/http4k/http4k-netty.dockerfile
  frameworks/Kotlin/http4k/http4k-sunhttp.dockerfile
  frameworks/Kotlin/http4k/http4k-undertow.dockerfile
  frameworks/Kotlin/http4k/http4k.dockerfile
  frameworks/Kotlin/pronghorn/gradle/wrapper/gradle-wrapper.jar
  frameworks/Kotlin/pronghorn/gradle/wrapper/gradle-wrapper.properties
  frameworks/Kotlin/pronghorn/gradlew
  frameworks/Kotlin/pronghorn/gradlew.bat
  frameworks/Kotlin/pronghorn/pronghorn.dockerfile
  toolset/setup/docker/systools/gradle-java8.dockerfile
  toolset/setup/docker/systools/gradle.dockerfile
Labels: PR: Docker

#3479 Travis Differ Update
  .travis.yml
  frameworks/C/duda/README.md
  toolset/travis/travis_diff.py
Labels: PR: Docker
