Repository TechEmpower/FrameworkBenchmarks, pull requests merged in 2018-02, with the labels that each got.

#3301 Better logging error checking
  toolset/benchmark/benchmarker.py
  toolset/benchmark/framework_test.py
Labels: PR: Docker

#3312 Do not rebuild database image
  toolset/benchmark/benchmarker.py
Labels: PR: Docker

#3304 C tests for docker
  .travis.yml
  frameworks/C/duda/.gitignore
  frameworks/C/duda/benchmark_config.json
  frameworks/C/duda/duda.dockerfile
  frameworks/C/duda/setup.sh
  frameworks/C/facil.io/.gitignore
  frameworks/C/facil.io/benchmark_config.json
  frameworks/C/facil.io/facil.io.dockerfile
  frameworks/C/facil.io/setup.sh
  frameworks/C/h2o/benchmark_config.json
  frameworks/C/h2o/h2o.dockerfile
  frameworks/C/h2o/setup.sh
  frameworks/C/libreactor/benchmark_config.json
  frameworks/C/libreactor/libreactor.dockerfile
  frameworks/C/libreactor/setup.sh
  frameworks/C/octane/benchmark_config.json
  frameworks/C/octane/octane.dockerfile
  frameworks/C/octane/setup.sh
  frameworks/C/onion/.gitignore
  frameworks/C/onion/benchmark_config.json
  frameworks/C/onion/hello.c
  frameworks/C/onion/onion.dockerfile
  frameworks/C/onion/setup.sh
  frameworks/JavaScript/ringojs/ringojs-base.dockerfile
  frameworks/JavaScript/ringojs/ringojs.dockerfile
  toolset/setup/linux/docker/languages/ruby-2.4.dockerfile
  toolset/setup/linux/docker/systools/gcc-6.dockerfile
  toolset/setup/linux/frameworks/duda.sh
  toolset/setup/linux/frameworks/libreactor.sh
  toolset/setup/linux/frameworks/octane.sh
  toolset/setup/linux/frameworks/onion.sh
  toolset/setup/linux/systools/gcc-6.sh
  toolset/setup/linux/systools/mustache-c.sh
  toolset/setup/linux/systools/yajl.sh
Labels: PR: Docker

#3320 Implement supporting multiple `FROM` directives
  frameworks/C/duda/duda.dockerfile
  frameworks/C/facil.io/facil.io.dockerfile
  frameworks/C/h2o/h2o.dockerfile
  frameworks/C/libreactor/libreactor.dockerfile
  frameworks/C/octane/octane.dockerfile
  frameworks/C/onion/onion.dockerfile
  frameworks/Java/gemini/gemini-mysql.dockerfile
  frameworks/Java/gemini/gemini-postgres.dockerfile
  frameworks/Java/gemini/gemini.dockerfile
  frameworks/JavaScript/express/express-mongodb.dockerfile
  frameworks/JavaScript/express/express-mysql.dockerfile
  frameworks/JavaScript/express/express.dockerfile
  frameworks/JavaScript/hapi/hapi-mysql.dockerfile
  frameworks/JavaScript/hapi/hapi-postgres.dockerfile
  frameworks/JavaScript/hapi/hapi.dockerfile
  frameworks/JavaScript/koa/koa-mysql.dockerfile
  frameworks/JavaScript/koa/koa-postgres.dockerfile
  frameworks/JavaScript/koa/koa.dockerfile
  frameworks/JavaScript/nodejs/mitol.dockerfile
  frameworks/JavaScript/nodejs/nodejs-default-mitol.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mongodb-mitol.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mongodb-raw-mitol.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mongodb-raw.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mongodb.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mysql-mitol.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mysql.dockerfile
  frameworks/JavaScript/nodejs/nodejs-postgres-mitol.dockerfile
  frameworks/JavaScript/nodejs/nodejs-postgres.dockerfile
  frameworks/JavaScript/nodejs/nodejs.dockerfile
  frameworks/JavaScript/ringojs/ringo-base.dockerfile
  frameworks/JavaScript/ringojs/ringojs-base.dockerfile
  frameworks/JavaScript/ringojs/ringojs-convenient.dockerfile
  frameworks/JavaScript/ringojs/ringojs.dockerfile
  frameworks/JavaScript/sailsjs/sailsjs-postgres.dockerfile
  frameworks/JavaScript/sailsjs/sailsjs.dockerfile
  toolset/benchmark/benchmarker.py
  toolset/benchmark/framework_test.py
  toolset/benchmark/utils.py
  toolset/setup/linux/docker/base.dockerfile
  toolset/setup/linux/docker/languages/java.dockerfile
  toolset/setup/linux/docker/languages/ruby-2.4.dockerfile
  toolset/setup/linux/docker/systools/ant.dockerfile
  toolset/setup/linux/docker/systools/gcc-6.dockerfile
  toolset/setup/linux/docker/webservers/nodejs8.dockerfile
  toolset/setup/linux/docker/webservers/resin.dockerfile
Labels: PR: Docker, PR: LGTM if Travis-CI agrees!

#3332 Travis and --test-lang option
  .travis.yml
  toolset/benchmark/framework_test.py
  toolset/benchmark/utils.py
  toolset/run-tests.py
  toolset/travis/travis_diff.py
Labels: PR: Docker

#3321 Docker Multiple Container Support + Dart start/stream as examples
  .travis.yml
  frameworks/C/h2o/h2o.dockerfile
  frameworks/C/h2o/start-servers.sh
  frameworks/Dart/dart-raw/.gitignore
  frameworks/Dart/dart-raw/setup.sh
  frameworks/Dart/dart/README.md
  frameworks/Dart/dart/benchmark_config.json
  frameworks/Dart/dart/dart.dockerfile
  frameworks/Dart/dart/fortunes.mustache
  frameworks/Dart/dart/postgresql.yaml
  frameworks/Dart/dart/pubspec.yaml
  frameworks/Dart/dart/server.dart
  frameworks/Dart/dart/source_code
  frameworks/Dart/redstone/.gitignore
  frameworks/Dart/redstone/benchmark_config.json
  frameworks/Dart/redstone/redstone-mongodb.dockerfile
  frameworks/Dart/redstone/redstone.dockerfile
  frameworks/Dart/redstone/setup.sh
  frameworks/Dart/redstone/setup_mongodb.sh
  frameworks/Dart/redstone/setup_postgresql.sh
  frameworks/Dart/start/.gitignore
  frameworks/Dart/start/benchmark_config.json
  frameworks/Dart/start/nginx-conf.sh
  frameworks/Dart/start/setup_mongodb.sh
  frameworks/Dart/start/setup_postgresql.sh
  frameworks/Dart/start/start-nginx.dockerfile
  frameworks/Dart/start/start-servers.sh
  frameworks/Dart/start/start.dockerfile
  frameworks/Dart/stream/.gitignore
  frameworks/Dart/stream/benchmark_config.json
  frameworks/Dart/stream/nginx-conf.sh
  frameworks/Dart/stream/setup_mongodb.sh
  frameworks/Dart/stream/setup_postgresql.sh
  frameworks/Dart/stream/start-servers.sh
  frameworks/Dart/stream/stream-nginx.dockerfile
  frameworks/Dart/stream/stream.dockerfile
  frameworks/JavaScript/nodejs/benchmark_config.json
  frameworks/JavaScript/nodejs/nodejs-mongodb-raw-mitol.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mysql-mitol.dockerfile
  frameworks/JavaScript/nodejs/nodejs-postgres-mitol.dockerfile
  frameworks/Ur/urweb/setup-postgresql.sh
  frameworks/Ur/urweb/setup.sh
  frameworks/Ur/urweb/setup_mysql.sh
  frameworks/Ur/urweb/urweb-base.dockerfile
  frameworks/Ur/urweb/urweb-mysql.dockerfile
  frameworks/Ur/urweb/urweb.dockerfile
  toolset/benchmark/benchmarker.py
  toolset/benchmark/framework_test.py
  toolset/benchmark/test_types/verifications.py
  toolset/setup/linux/docker/TFBReaper/Cargo.toml
  toolset/setup/linux/docker/TFBReaper/src/main.rs
  toolset/setup/linux/docker/base.dockerfile
  toolset/setup/linux/docker/languages/dart-lang.dockerfile
  toolset/setup/linux/docker/webservers/nginx.dockerfile
  toolset/setup/linux/frameworks/urweb.sh
  toolset/setup/linux/languages/dart.sh
  toolset/setup/linux/prerequisites.sh
  toolset/setup/linux/webservers/nginx.sh
Labels: PR: Docker, PR: Work in Progress
