Repository TechEmpower/FrameworkBenchmarks, pull requests merged in 2019-03, with the labels that each got.

#4497 update to Wildfly 16.0.0.Final
  frameworks/Java/wildfly-ee/pom.xml
  frameworks/Java/wildfly-ee/wildfly-ee.dockerfile
Labels: PR: Please Update

#4543 Add ability to override dockerfile and CMD in benchmark_config
  frameworks/Go/aah/aah-mysql.dockerfile
  frameworks/Go/aah/aah-postgresql.dockerfile
  frameworks/Go/aah/benchmark_config.json
  frameworks/JavaScript/nodejs/app.js
  frameworks/JavaScript/nodejs/benchmark_config.json
  frameworks/JavaScript/nodejs/nodejs-chakra.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mongodb-raw.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mongodb.dockerfile
  frameworks/JavaScript/nodejs/nodejs-mysql.dockerfile
  frameworks/JavaScript/nodejs/nodejs-postgres.dockerfile
  frameworks/JavaScript/nodejs/nodejs.dockerfile
  toolset/utils/docker_helper.py
Labels: Add to Wiki, Enhance: Toolset

#4553 Improve Fortunes bench performance for Servant
  frameworks/Haskell/servant/benchmark_config.json
  frameworks/Haskell/servant/hasql/servant-hasql.cabal
  frameworks/Haskell/servant/hasql/src/ServantBench.hs
  frameworks/Haskell/servant/hasql/stack.yaml
  frameworks/Haskell/servant/mysql-haskell/servant-mysql-haskell.cabal
  frameworks/Haskell/servant/mysql-haskell/src/Main.hs
  frameworks/Haskell/servant/mysql-haskell/stack.yaml
  frameworks/Haskell/servant/servant-mysql-haskell.dockerfile
  frameworks/Haskell/servant/servant.dockerfile
  frameworks/Haskell/servant/stack.yaml
Labels: PR: Please Update

#4430 Suggestion: Improve ENDTIME accuracy
  toolset/utils/results.py
  toolset/wrk/concurrency.sh
  toolset/wrk/pipeline.sh
  toolset/wrk/query.sh
Labels: Enhance: Toolset

#4570 Squash duplicate lines in logs when writing to file
  frameworks/JavaScript/nodejs/mitol.dockerfile
  toolset/benchmark/benchmarker.py
  toolset/benchmark/fortune_html_parser.py
  toolset/benchmark/framework_test.py
  toolset/benchmark/test_types/fortune_type.py
  toolset/benchmark/test_types/framework_test_type.py
  toolset/benchmark/test_types/verifications.py
  toolset/run-tests.py
  toolset/utils/audit.py
  toolset/utils/benchmark_config.py
  toolset/utils/docker_helper.py
  toolset/utils/metadata.py
  toolset/utils/output_helper.py
  toolset/utils/results.py
  toolset/utils/time_logger.py
Labels: Enhance: Toolset
