Repository TechEmpower/FrameworkBenchmarks, pull requests merged in 2022-07, with the labels that each got.

#7388 astra: increase thread pool size
  frameworks/Rust/astra/Cargo.toml
  frameworks/Rust/astra/src/main.rs
Labels: Round 22

#7387 [php-unit] Update nginx unit to 1.27 and php 8.1
  frameworks/PHP/php/benchmark_config.json
  frameworks/PHP/php/deploy/nginx-unit.json
  frameworks/PHP/php/php-unit.dockerfile
Labels: Round 22

#7410 Fix imi
  frameworks/PHP/imi/ApiServer/Controller/PgController.php
  frameworks/PHP/imi/Main.php
  frameworks/PHP/imi/config/config.php
Labels: Round 22

#7409 Upgrade hserver Framework version and optimize configuration
  frameworks/Java/hserver/pom.xml
  frameworks/Java/hserver/src/main/java/com/test/hserver/controller/TestController.java
  frameworks/Java/hserver/src/main/resources/app.properties
Labels: Round 22

#7401 Hexagon: use a single store and template engine to simplify benchmark
  frameworks/Kotlin/hexagon/README.md
  frameworks/Kotlin/hexagon/benchmark_config.json
  frameworks/Kotlin/hexagon/build.gradle
  frameworks/Kotlin/hexagon/config.toml
  frameworks/Kotlin/hexagon/hexagon-netty.dockerfile
  frameworks/Kotlin/hexagon/hexagon-nettyepoll.dockerfile
  frameworks/Kotlin/hexagon/hexagon-tomcat.dockerfile
  frameworks/Kotlin/hexagon/hexagon.dockerfile
  frameworks/Kotlin/hexagon/src/main/kotlin/Benchmark.kt
  frameworks/Kotlin/hexagon/src/main/kotlin/Controller.kt
  frameworks/Kotlin/hexagon/src/main/kotlin/WebListenerServer.kt
  frameworks/Kotlin/hexagon/src/main/kotlin/store/BenchmarkSqlStore.kt
Labels: PR: Please Update, Round 22

#7385 added deno oak framework
  frameworks/TypeScript/oak/README.md
  frameworks/TypeScript/oak/benchmark_config.json
  frameworks/TypeScript/oak/oak.dockerfile
  frameworks/TypeScript/oak/src/deps.ts
  frameworks/TypeScript/oak/src/helpers.ts
  frameworks/TypeScript/oak/src/main.ts
  frameworks/TypeScript/oak/src/models.ts
  frameworks/TypeScript/oak/src/routes.ts
  frameworks/TypeScript/oak/src/utils.ts
  frameworks/TypeScript/oak/tsconfig.json
Labels: Round 22

#7498 Update the Quart dependencies
  frameworks/Python/quart/quart-uvicorn.dockerfile
  frameworks/Python/quart/quart.dockerfile
  frameworks/Python/quart/requirements-uvicorn.txt
  frameworks/Python/quart/requirements.txt
Labels: PR: Please Update

#7412 Complete `granian` benchmarks
  frameworks/Python/granian/app_asgi.py
  frameworks/Python/granian/app_rsgi.py
  frameworks/Python/granian/benchmark_config.json
  frameworks/Python/granian/config.toml
  frameworks/Python/granian/granian-rsgi.dockerfile
  frameworks/Python/granian/granian.dockerfile
  frameworks/Python/granian/requirements.txt
Labels: Round 22
